{% extends 'pages/main.html' %}
{% load static %}
{% load django_bootstrap5 %}
{% load widget_tweaks %}
{% block content %}
<!--Main layout-->
  <div class="container" style='margin-top: 110 !important;'>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}
    <!--Grid row-->
    <div class="row bg-white box mb-5" style='border-radius: 5px !important;'>

      <!--Grid column-->
      <div class="col-md-6 mt-2 p-4">
        {% if products_details.PRimage %}
        <img src="{{products_details.PRimage.url}}" id="main_product_image" class="img-fluid"  alt="...">
        {% endif %}	

        {%for pi in product_image%}
        {% if pi.image %}
          <img onclick="changeImage(this)" src="{{pi.image.url}}" class="img-thumbnail" width="70" height='50' style='margin-top:5px !important;'   alt="...">
        {% endif %}
        {%endfor%}
      </div>

      <!--Grid column-->

      <!--Grid column-->
      <div class="col-md-6 mt-2 p-4">

        <!--Content-->
        <div class="p-2">

          <p class="fs-6 fw-normal">{{products_details.pr_code}}</p>
          <p class="fs-3 fw-bolder">{{products_details.PRname}}</p>
          <div class="mb-3">
            {%if  products_details.PRdiscount_price > 0 %}
              <span class="badge bg-success">Sale</span>
            {%endif%}
            {% if products_details.PRnew %}
              <span class="badge bg-info">New</span>
            {%endif%}
            {%if products_details.PRbestseller %}
              <span class="badge bg-danger">Bestseller</span>
            {%endif%}
          </div>

          <p class="lead">
            {%if products_details.PRdiscount_price > 0 %}
              <span class="fs-4 text-danger fw-bold">$ {{products_details.PRdiscount_price}} EPG</span>
              <span class="text-sm text-decoration-line-through text-muted">  $ {{products_details.PRprice}} EPG </span> 
            {% else %}
              <div class="text-lg-center fw-normal"><span >{{products_details.PRprice}} EPG </span></div>
            {%endif%}
          </p>

          <p class="fs-6 lh-base">{{products_details.PRdescription}}</p>

          {%if products_details.PRdiscount_price > 0 %}
            <div class="fs-6 fw-bold text-muted mb-2">List Price: <span class="text-decoration-line-through fw-normal"> $ {{products_details.PRprice}} EPG </span></div>
            <div class="fs-6 fw-bold mb-2">Price: <span class="fw-normal">EPG {{products_details.PRdiscount_price}}</span></div>
            <div class="fs-6 fw-bold mb-2">Your Save: <span class='text-danger fw-normal'> $ {{products_details.discount_number}} EPG ({{products_details.discount_percentage|floatformat:2}}%)</span> </div>
          {% else %}
            <div class="fs-6 fw-bold mb-2">Price: <span > $ {{products_details.PRprice}}EPG </span></div>
          {%endif%}
          <div class="fs-6 fw-bold mb-3">Brands: <span class='fw-normal'> {{products_details.brand}}</span> </div>

          {% if order.qunatity is None or order.qunatity == 0%}
          <div class ='row'>
            <div class='col-10'>
              <a href="{{products_details.get_add_to_cart_url }}" class="btn btn-success w-50 ">Add to cart  <i class="bi bi-cart-plus-fill"></i></a> 
            </div>
          </div>
          {%else%}
          <div class ='row p-0'>
            <div class='col-6 w-50'>
              Quatity:
              <div class="input-group"> 
                <a href="{{products_details.get_remove_single_item_url}}" class="btn btn-light btn-md "><i class="bi bi-dash"></i></a>
                <span class='form-control form-control-sm  text-center'>{{ order.qunatity}} </span>
                <a href="{{products_details.get_add_to_cart_url }}" class="btn btn-light btn-md"><i class="bi bi-plus"></i></a>
              </div>
            </div>
          </div>
        {% endif %}


            <!--Grid row-->
    <div class="row mb-5">
      <!--Grid column-->
      <div class="col-md-12">
        <h4 class="my-4 h4 text-center">Product Reviews</h4>
        <hr>
      <!--Grid column-->
    </div>
    <!--Grid row-->


    <div class="row mb-5">
      <div class="col-md-12">

        {% if not products_details.comments.all %}

        <p>Not comments added yet...</p>
       <p><a class="btn btn-primary">  Add Comment </a></p>

    {% else %}

        {% for comment in comments %}

            <h5><strong>{{ comment.user.username }}</strong></h5>
            <h5><strong>{{ comment.user.image.url }}</strong></h5>

            <h5><strong>{{ comment.comment }}</strong></h5>
            <p>{{ comment.created_at }}</p>

            

        {% endfor %}

    {% endif %}
        
    </div>

    <form method='POST'>
      {% csrf_token %}
      {{form}}
      <a href="{% url 'product_details' comment.id %}" class="btn btn-light btn-md "><i class="bi bi-dash"></i></a>

  <input type='submit'>
  </form>



           

          
        </div>
        <!--Content-->

      </div>
      <!--Grid column-->

    </div>
    <!--Grid row-->

    <!--Grid row-->
    <div class="row mb-5">

      <!--Grid column-->
      <div class="col-md-12">

        <h4 class="my-4 h4 text-center">Additional information</h4>
        <hr>
        <p class="display-7 lh-lg text-center">{{products_details.PRinformation}}</p>

      </div>
      <!--Grid column-->

    </div>
    <!--Grid row-->

    <!--Grid row-->
    <div class="row bg-white mb-5 box" style='border-radius: 5px !important;'>

      <!--Grid column-->
      <div class="col-lg-4 col-md-12 mb-4">

        <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/11.jpg" class="img-fluid" alt="">

      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-4 col-md-6 mb-4">

        <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/12.jpg" class="img-fluid" alt="">

      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-4 col-md-6 mb-4">

        <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/13.jpg" class="img-fluid" alt="">

      </div>
      <!--Grid column-->

    </div>
    <!--Grid row-->



    <div class="row">
      <div class='col-12'>
        <h4 class="my-4 h4 text-center">Related products</h4>
      </div>
    </div>

  <div class="row">
    {%for rp in related_products%}
    <div class="col-md-12 col-lg-4 mb-4 mb-lg-0">
      <div class="card">
        {%if rp.PRdiscount_price > 0%}
        <div class="badge bg-success text-white position-absolute" style="top: 0.5rem; left: 0.5rem;">Sale</div>
        <div class="badge btn btn-danger text-white position-absolute" style="top: 2.5rem; left: 0.5rem;"> - {{rp.discount_percentage|floatformat:2}}%</div>
        {%endif%}
            <!-- Product image-->
            {% if rp.PRimage %}
            <img src="{{rp.PRimage.url}}" height="180" width="200" class="card-img" alt="...">
            {% else %}  
            <img class="card-img-top" src="{% static 'images\no-image-available-icon-flat-vector-no-image-available-icon-flat-vector-illustration-132482953.webp' %}"  alt="...">
            {% endif %}
        <div class="card-body">
          <div class="d-flex justify-content-between">
            <p class="small"><a href="#!" class="text-muted">{{rp.category}}</a></p>
            {%if rp.PRdiscount_price > 0 %}
              <div class="text-sm-center fw-normal">
                  <span class="text-decoration-line-through text-danger"> $ {{rp.PRprice}} EPG </span>
                </div>
              {% else %}
              <div class="text-sm-center fw-normal"><span >No Discount</span></div>
              {%endif%}
          </div>

          <div class="d-flex justify-content-between mb-3">
            <h6 class="mb-0">{{rp.PRname}}</h5>
            {%if rp.PRdiscount_price > 0 %}
            <div class="text-sm-center fw-normal">
                <span class="text-sm-center fw-normal"> $ {{rp.PRdiscount_price}} EPG </span>
              </div>
            {% else %}
            <div class="text-sm-center fw-normal"><span >$ {{rp.PRprice}} EPG</span></div>
            {%endif%}
          </div>

          <div class="d-flex justify-content-between mb-2">
            <p class="text-muted mb-0">Available: <span class="fw-bold">{{rp.PRnp_available}}</span></p>
            <div class="ms-auto text-warning">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
    {%endfor%}

  </div>


  </div>
<!--Main layout-->
{% endblock content %}

